# do not include tmp files and logs in repository
log/
tmp/
# python files
*.pyc
# ignore vim swp files
*.swp
*.swo
*~
# ignore user configuration
config/*.config
config/jobs/*.config
# other
.DS_Store
.python-version
