[Pumpe1 an]
module      = Pumpe1
action      = set_on
year        = 
month       =
week        =
day         =
day_of_week = mon,tue,wed,thu,fri
hour        = 
minute      = 
second      = 1,10,20

[Pumpe1 aus]
module      = Pumpe2
action      = set_off
year        = 
month       =
week        =
day         =
day_of_week = mon,tue,wed,thu,fri
hour        = 
minute      = 
second      = 5,15,25
