[Lampe1 an]
module      = Lampe1
action      = set_on
year        = 
month       =
week        =
day         =
day_of_week = mon,tue,wed,thu,fri
hour        = 
minute      = 
second      = 1,10,20,30,40,50

[Lampe1 aus]
module      = Lampe1
action      = set_off
year        = 
month       =
week        =
day         =
day_of_week = mon,tue,wed,thu,fri
hour        = 
minute      = 
second      = 5,15,25,35,45,55
