################################################################################
#                                       main                                   #
################################################################################

[main]

# Logging options:
#   You can specify Loglevels for console (STDOUT) and file individually.
#   Loglevels are: [DEBUG, INFO, WARN, ERROR, CRITICAL]
#
#   logfile: 'log/hasip.log' (default)
#            You can also specify absolut paths e.g '/var/log/hasip/hasip.log'
#
logfile         = log/hasip.log
console_log_lvl = DEBUG
logfile_log_lvl = INFO

################################################################################
#                                     service                                  #
################################################################################

[services]

# enable/disable with true/false
start_api_rest = true

################################################################################
# additional sections
################################################################################

[rest]
rest_service_ip   = localhost
rest_service_port = 80
debug             = false
