[main]

bindings          = "config/bindings/"
items             = "config/items/"
logfile           = "log/hasip.log"

debug_level       = 1

master_instance   = true     # false: this instance is a slave.

[master]
master_adress =   "tcp://192.168.x.x:1234/"

[services]

start_webserver   = false
start_api_rest    = false
start_api_xmpp    = false
start_api_cmd     = false

#
# Types of "items":
#
# switch:
#   on,off,status{run|stop|unknown}
# serial:
#   "string"
#

