[main]

bindings          = "config/bindings/"
items             = "config/items/"

# Logging options:
#   You can specify Loglevels for console (STDOUT) and file individually.
#   Loglevels are: [DEBUG, INFO, WARN, ERROR, CRITICAL]
#
#   logfile: 'log/hasip.log' (default)
#            You can also specify absolut paths e.g '/var/log/hasip/hasip.log'
#
logfile         = log/hasip.log
console_log_lvl = DEBUG
logfile_log_lvl = INFO

master_instance   = true     # false: this instance is a slave.

[master]
master_adress =   "tcp://192.168.x.x:1234/"

[services]

start_webserver   = false
start_api_rest    = false
start_api_xmpp    = false
start_api_cmd     = false

[rest]
rest_service_ip   = localhost
rest_service_port = 80
debug             = False


#
# Types of "items":
#
# switch:
#   on,off,status{run|stop|unknown}
# serial:
#   "string"
#

